:root{
    --main-bg-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #ddcfcf;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #c811d9;
}

nav ul {
    animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.backimg {
    position: fixe;
    min-width: 100%;
    min-height: 100%;
}

.destpop {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.photo {
    width: 500px;
    position: relative;
    left: 400px;
}

.descri {
    width: 485px;
    position: relative;
    left: 450px;
}

.aurore {
    position: relative;
    left: 970px;
    top: -290px;
}