:root{
    --main-bg-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

header {
    background-color: #ddcfcf;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #c811d9;
}

nav ul {
    animation: slide-in 0.5s ease-out;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.backimg {
    position: fixe;
    min-width: 100%;
    min-height: 100%;
}

.destpop {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.photo {
    width: 500px;
    position: relative;
    left: 400px;
}

.descri {
    width: 485px;
    position: relative;
    left: 450px;
}

.aurore {
    position: relative;
    left: 970px;
    top: -290px;
}


/* CONTACT */

section#contact {
    background-color: #f9f9fb;
    padding: 100px 15px;
}

section#contact .container {
    max-width: 1100px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 30px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0px 10px 50px -10px #d6d6d6;

}

section#contact .container .title {
    text-align: center;
    color: #2a2a2a;
    margin-bottom: 50px;
    font-weight: bold;
}

section#contact .container .title p.ask {
    font-size: 1.5em;
}

section#contact .container .title p.conta {
    font-size: 2.5em;
}

section#contact .container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

section#contact .container form input {
    width: 45%;
}

section#contact .container form input:hover,
section#contact .container form textarea:hover {
    border-bottom: 2px solid #1fb3bf;
}

section#contact .container form input,
section#contact .container form textarea {
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
}

section#contact .container form textarea {
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 50px;
}

section#contact .container form button {
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #1fb3bf;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    transition: 0.2s;
}

section#contact .container form button:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 40px 0px rgb(214, 214, 214);
}

@media screen and (max-width: 500px) {
    section#contact .container form {
        flex-direction: column;
        width: 95%;
    }

    section#contact .container form input {
        width: 100%;
    }

    section#contact .container .title p.ask {
        font-size: 1em;
    }
    
    section#contact .container .title p.conta {
        font-size: 2em;
    }
}


